.buttons {
  background-color: var(--darkcolor);
  color: var(--whitecolor);
  padding: 20px;
  border: none;
  border-radius: 10px;
  align-self: center;
  transition: opacity 500ms ease-in-out, background-color 500ms ease-in-out;

}

.buttons:hover {
  background-color: var(--darklightcolor);

}

:root {
	--darkcolor: #472731;
  --darklightcolor: #000000;
	--whitecolor: #ffffff; 
}