.buttons {
  background-color: var(--darkcolor);
  color: var(--whitecolor);
  padding: 20px;
  border: none;
  border-radius: 10px;
  width: 200px;
  align-self: center;

}

.buttons:hover {
  background-color: var(--darklightcolor);

}

:root {
	--darkcolor: #472731;
  --darklightcolor: #000000;
	--whitecolor: #ffffff; 
}