.card {


	border: 5px;
	background-color: var(--darkblue);
	color: var(--whitecolor);
	padding: 30px;
	border-radius: 10px;
	position: relative;
	flex-direction: column;
	display: flex;
	gap: 20px; 
	flex-wrap: wrap;
	
  }

  .card__heading {
	margin: 0 0 10px 0;
  }


.tags {
	background-color: var(--greycolor);
	color: var(--whitecolor);
	border-radius: 10px;
	padding: 5px;
	font-family: 'DM Sans', sans-serif;
}

.bmimg {
	position: absolute;
	top: -10px;
	right: 20px;
	width: 30px;
	height: auto;

	
	}



.dots {
		display: flex;
		width: 90%;
		gap: 5px;
		align-self: center;
		padding-top: 10px;
		border-top: 2px dashed var(--whitecolor);
		flex-wrap: wrap;
	}
	
.hidden_answer {
	color: var(--whitecolor);
	align-self: center;
}	

  :root {
	--whitecolor: #ffffff; 
	--darkblue: #24788F;
	--greycolor: #282130;
  }

  @media(min-width: 900px) {
	.card {
		width: 25%;
	}
  }
