@import "./global.css";
@import "./button.css";
@import "./header.css";
@import "./card.css";
@import "./navigation.css";

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
  }

main {
	
	margin-top: 80px;
	margin-bottom: 120px;
	padding-top: 40px;
  }


body {
	
}