@import "./global.css";
@import "./button.css";
@import "./header.css";
@import "./card.css";
@import "./navigation.css";
@import "./switch.css";
@import "./form.css";

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;

  }

  body {
	background-color: var(--whitecolor);
	color: var(--greycolor);
  }

main {
	
	margin-top: 90px;
	margin-bottom: 100px;
	padding: 4%;
	display: flex;
	gap: 3vw;
	flex-direction: column;

  }


.profile {
		display: flex;
		align-items: center;
	}
	
.profile_img {

	border-radius: 10px;
	width: 150px; 
	height: auto;
	margin-left: 30px;

	}
	
.profile-info {
	display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
	font-family: 'DM Sans', sans-serif;
	font-size: 24px;
	font-weight: bolder;
}

p {

	font-family: 'DM Sans', sans-serif;
	
}

.infotable {
    display: flex;
    justify-content: center;
	margin-top: 10px;
	gap: 60px;

}

.infotable button {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: var(--darkblue);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.infotable .icon {
    margin-right: 2px;
}

.profile-section {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.dark-mode {

	display: inline;
	margin-right: 120px;
	background-color: var(--grey); 
	color: #ffffff; 

}



:root {
	--whitecolor: #ffffff;
	--pinkcolor: #F18A85; 
	--darkblue: #24788F;
	--greycolor: #282130;
	--grey: rgb(121, 121, 121); 
}

@media(min-width: 900px) {
main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
}



