.card {

	margin: 20px 10%;
	border: 5px;
	background-color: var(--darkblue);
	color: var(--white);
	padding: 30px;
	height: 200px;
	scroll-margin-top: 100px;
	position: relative;
	flex-direction: column;
	display: flex;
	gap: 40px; 
  }

  .card__heading {
	margin: 0 0 10px 0;
  }
  
  :root {
	--white: #ffffff; 
	--darkblue: #24788F;
  }