.card {

	margin: 20px 10%;
	border: 5px;
	background-color: var(--darkblue);
	color: var(--white);
	padding: 3% 10%;
	scroll-margin-top: 100px;
	position: relative;
	left: 0;
	right: 0;
  
  }

  .card__heading {
	margin: 0 0 10px 0;
  }
  
  :root {
	--white: #ffffff; 
	--darkblue: #24788F;
  }